* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0b1885;
    padding: 15px;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.section {
    min-height: auto;
    padding: 70px 30px;
    text-align: center;
    color: aliceblue;   
    background: 
    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("background.jpeg") center/cover no-repeat fixed;
}

.profile-img{
    width: 250px;
    background: transparent;
}

/* SLIDER */
.slider {
    width: 420px;
    max-width: 90%;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
}
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: #fff;
  border: none;
  font-size: 22px;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.nav:hover {
  background: #000;
}
.slide {
    width: 100%;
    height: auto;
    display: none;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    display: block;
}

/* FORM */
form {
    max-width: 400px;
    margin: auto;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    padding: 10px 20px;
    background: rgb(239, 7, 7);
    color: white;
    border: none;
    cursor: pointer;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.logo img{
    height: 35px;
}